<li>
  <div class="collapsible-header">{{ agent.name }}
    <div class="collapsible-header-right">
      <i class="dropdown-trigger collapsible-dropdown-trigger blue-grey-text lighten-3 material-icons" href="#" data-target="dropdown-{{ agent._id }}">more_vert</i>
      <ul id="dropdown-{{ agent._id }}" class="dropdown-content">
        <li><a href="#modal-update-agent-{{ agent._id }}" class="not-collapse modal-trigger blue-grey-text lighten-3">edit</a></li>
        <li><a href="/agent/{{ agent._id }}/delete" class="blue-grey-text lighten-3">delete</a></li>
      </ul>
    </div>
  </div>
  <div class="collapsible-body">
    <div class="row">
      <div class="col s6 m3"><b>Id</b></div>
      <div class="col s6 m3">{{ agent._id }}</div>
      <div class="col s6 m3"><b>Name</b></div>
      <div class="col s6 m3">{{ agent.name }}</div>
      <div class="col s6 m3"><b>Key</b></div>
      <div class="col s6 m3">{{ agent.key }}</div>
    </div>
  </div>
</li>
{% include "partials/_modal_update_agent.njk" %}