<nav class="deep-purple darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Simple monitoring</a>
        <ul class="right hide-on-med-and-down">
            {% if user %}
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/agent">Agent</a></li>
              <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login/google">Login with Google</a></li>
            {% endif %}
        </ul>

        <ul id="nav-mobile" class="sidenav">
            {% if user %}
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/agent">Agent</a></li>
              <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login/google">Login with Google</a></li>
            {% endif %}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
