<header class="mui-appbar mui--z1">
    <div class="mui-container">
        <table>
            <tr class="mui--appbar-height">
                <td class="mui--text-title">Simple monitoring</td>
                <td class="mui--text-right">
                    <ul class="mui-list--inline mui--text-body2">
                        <li><a class="mui-btn" href="/login/google">Login with Google</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</header>