<li>
  <div class="collapsible-header">{{ monitor.name }}
    <div class="collapsible-header-right">
      {% if monitor.status == 0 %}
        <i class="material-icons light-green-text accent-3">check_circle_outline</i>
      {% elseif monitor.status == 2 %}
        <i class="material-icons red-text darken-1">highlight_off</i>
      {% else %}
        <i class="material-icons orange-text darken-4">help_outline</i>
      {% endif %}
      {% if is_public != true %}
        <i class="dropdown-trigger collapsible-dropdown-trigger blue-grey-text lighten-3 material-icons" href="#" data-target="dropdown-{{ monitor._id }}">more_vert</i>
        <ul id="dropdown-{{ monitor._id }}" class="dropdown-content">
          <li><a href="#modal-update-monitor-{{ monitor._id }}" class="not-collapse modal-trigger blue-grey-text lighten-3">edit</a></li>
          <li><a href="/monitor/{{ monitor._id }}/delete" class="blue-grey-text lighten-3">delete</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
  <div class="collapsible-body">
    <div class="row">
      <div class="col s6 m3"><b>Name</b></div>
      <div class="col s6 m3">{{ monitor.name }}</div>
      <div class="col s6 m3"><b>Address</b></div>
      <div class="col s6 m3">{{ monitor.address }}</div>
      {% if is_public != true %}
        <div class="col s6 m3"><b>Is public?</b></div>
        <div class="col s6 m3">{{ monitor.is_public }}</div>
        <div class="col s6 m3"><b>Frequency</b></div>
        <div class="col s6 m3">{{ monitor.frequency }} times per day</div>
      {% endif %}
      <div class="col s6 m3"><b>Last check</b></div>
      <div class="col s6 m3">{{ (monitor.feedbacks | last).date }} </div>
      <div class="col s6 m3"><b>Uptime</b></div>
      {% set is_up = 0 %}
      {% for feedback in monitor.feedbacks %}
        {% if feedback.is_up %}
        {% set is_up = is_up + 1 %}
        {% endif %}
      {% endfor %}
      <div class="col s6 m3">{{ ((is_up/(monitor.feedbacks | length)) * 100) | round(4) }} %</div>
    </div>
  </div>
</li>
{% if is_public != true %}
  {% include "partials/_modal_update_monitor.njk" %}
{% endif %}