<!DOCTYPE html>
<html>
  <head>
    {% include "_head.njk" %}
  </head>
  <body>
    {% include "./partials/_header.njk" %}
    <div class="container">
      {% include "partials/_messages.njk" %}
      {% block content %}
      {% endblock %}
    </div>
    {% include "./partials/_footer.njk" %}
    <script src="/scripts/materialize.min.js"></script>
    <script src="/scripts/init.js"></script>
  </body>
</html>