{% extends "_layout.njk" %}

{% block content %}
  {% if agents.length > 0 %}
    <ul class="collapsible expandable">
      {% for agent in agents %}
        {% include "partials/_agent.njk" %}
      {% endfor %}
    </ul>
  {% else %}
    <div class="row center-align row--mg0">
      <span class="emoji grey-text">(^-^)</span>
    </div>
    <div class="row center-align">
      <span class="emoji--text grey-text">No agent</span>
    </div>
  {% endif %}
  {% include "partials/_modal_add_agent.njk" %}
{% endblock %}