{% extends "_layout.njk" %}

{% block content %}
  <div class="container">
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large waves-effect waves-light deep-purple darken-1"><i class="material-icons">add</i></a>
    </div>
  </div>
{% endblock %}